martor
gunicorn
python-decouple
numpy
neomodel
sphinx
sphinx_rtd_theme
recommonmark
nbsphinx
recommonmark
sphinx-mdinclude
django_plotly_dash
channels
django-bootstrap-v5
dpd_static_support
dash
dash_bootstrap_components
whitenoise
pandas
python-dotenv
django-admin-soft-dashboard==1.0.12
networkx
lasso-python
django-neomodel==0.0.7
Django==3.2.19
django-admin-soft-dashboard==1.0.12
django-bootstrap-v5==1.0.11
django-bootstrap4==1.1.1
django-bootstrap5==23.1
django-neomodel==0.0.7
django-plotly-dash==1.7.2
