martor
gunicorn
django
python-decouple
numpy
neomodel
django_neomodel
sphinx
sphinx_rtd_theme
recommonmark
nbsphinx
recommonmark
sphinx-mdinclude
django_plotly_dash
channels
bootstrap4
dpd_static_support
dash
dash_bootstrap_components
whitenoise
pandas