alabaster==0.7.13
asgiref==3.7.2
attrs==22.2.0
autobahn==23.1.2
Automat==22.10.0
Babel==2.12.1
beautifulsoup4==4.12.2
bleach==6.0.0
Brotli==1.0.9
certifi==2023.7.22
cffi==1.15.1
channels==2.4.0
charset-normalizer==3.2.0
click==8.1.6
commonmark==0.9.1
constantly==15.1.0
contourpy==1.1.0
cryptography==41.0.2
cycler==0.11.0
daphne==2.5.0
dash==1.20.0
dash-bootstrap-components==0.13.1
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
defusedxml==0.7.1
Django==3.2.19
django-admin-soft-dashboard==1.0.12
django-bootstrap-v5==1.0.11
django-bootstrap4==1.1.1
django-bootstrap5==23.1
django-neomodel==0.0.7
django-plotly-dash==1.7.2
docutils==0.18.1
dominate==2.8.0
dpd-components==0.1.0
dpd-static-support==0.0.5
fastjsonschema==2.18.0
Flask==2.1.3
Flask-Compress==1.13
fonttools==4.41.1
future==0.18.3
gunicorn==21.2.0
h5py==3.9.0
hyperlink==21.0.0
idna==3.4
imagesize==1.4.1
importlib-metadata==4.8.3
importlib-resources==6.0.0
incremental==22.10.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyterlab-pygments==0.2.2
kiwisolver==1.4.4
lasso-python==2.0.1
Markdown==3.3.7
MarkupSafe==2.1.3
martor==1.6.28
matplotlib==3.7.2
mistune==2.0.5
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.2
nbsphinx==0.9.2
neo4j==5.10.0
neobolt==1.7.17
neomodel==5.1.0
networkx==3.1
numpy==1.24.4
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
platformdirs==3.10.0
plotly==5.15.0
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.15.1
pyLODE==3.0.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
pytz==2023.3
pyzmq==25.1.0
rdflib==6.3.2
recommonmark==0.7.1
referencing==0.30.0
requests==2.31.0
rich==12.6.0
rpds-py==0.9.2
scikit-learn==1.3.0
scipy==1.10.1
service-identity==23.1.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.4.1
Sphinx==6.2.1
sphinx-rtd-theme==1.2.2
sphinx_mdinclude==0.5.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
tenacity==8.2.2
threadpoolctl==3.2.0
tinycss2==1.2.1
tornado==6.3.2
traitlets==5.9.0
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
webencodings==0.5.1
Werkzeug==2.0.3
whitenoise==6.5.0
zipp==3.16.2
zope.interface==6.0
