{% extends 'layouts/base.html' %}
{% load static %}
{%load plotly_dash%}

{% block content %}

<div class="container-fluid py-4">




	<div class="row">

		<div class="card z-index-2">
			<div class="card-body p-3">
				<!-- <div class="ratio ratio-16x9">
				<iframe class="embed-responsive-item" 
				{% if dash %}
					src="{% url dash %}"
				{% else %}
					src="{% url 'nrg_fts_dash' %}"
				{% endif %}
				allowfullscreen></iframe>
				</div> -->

				{% if dash %}
					{% plotly_app name=dash ratio=0.45 %}
				{% else %}
					{% plotly_app name='nrg_fts_dash' ratio=0.45 %}
				{% endif %}
					<!-- {% plotly_app name='nrg_fts_dash' ratio=0.45 %} -->
				
				
			</div>
		  </div>
		</div>

	  
		  
	</div>

	 u



	{% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 